footer {
    width: 100%;
    background-color: nth($primary-colors, 2);
    color: nth($primary-colors, 3);
    padding: 80px 100px;
    position: relative;
    z-index: 2;

    .footer__container {
        margin: 0 auto;
        max-width: 1400px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // align-items: center;
        @include flex(flex, "", wrap, space-between, center);

        .footer__logo-container {
            img {
                width: 200px;
            }

        }

        .footer__links-container {
            // display: flex;
            // flex-wrap: wrap;
            // align-items: center;
            gap: 30px;
            @include flex(flex, "", wrap, "", center);

            .footer__btn-container {
                .btn-s {
                    &:hover {
                        border: 1px solid nth($primary-colors, 1);
                        color: nth($primary-colors, 1);
                    }
                }
            }
            .social-icons {
                a {
                    i {
                        color: #ffffff;

                        &:hover {
                            color: nth($primary-colors, 1);
                        }
                    }
                }
            }
        }
    }
    .footer__container-copy {
        margin-top: 60px;
        color: #888888;
        font-weight: 300;
        text-align: center;

    }

}