// INDEX //////////////////////////////////////////

.main__home {
    .nosotros {
        width: 100%;
        padding: 0 50px 100px 50px;
        margin: 0 auto;
        height: 480px;
        position: sticky;
        top: 100px;
        left: 0;
        z-index: 0;
        background-color: nth($primary-colors, 3);

        .container-tw {
            padding: 0;

            .section__titles {
                margin-bottom: 60px;
            }

            .nosotros__container {
                @include flex(flex, row, nowrap, center, baseline);

                p {
                    width: 600px;
                    min-width: 350px;
                    font-size: nth($font-size, 5);
                }
            }
        }
    }


    .loNuevo {
        background-color: nth($primary-colors, 2);
        color: nth($primary-colors, 3);
        z-index: 2;

        .container-tw {
            .loNuevo__container {
                width: 100%;
                @include flex(flex, "", "", space-between, center);

                .text__container {
                    width: 30%;
                    gap: 20px;
                    margin-right: 10px;
                    @include flex(flex, column, "", "", "");

                    p {
                        line-height: 1.5em;
                        font-weight: 300;
                    }
                }

                .videos__container {
                    width: 70%;
                    padding: 20px;
                    background-color: nth($secundary-colors, 2);
                    margin: 20px;

                    .loNuevo-video {
                        width: 100%;
                        height: 412px;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }


    .artistas {
        background-color: nth($primary-colors, 3);
        z-index: 2;

        .container-tw {
            .artistas__container {
                width: 100%;
                gap: 40px;  
                @include flex(flex, "", "", space-between, center);

                .text__container {
                    width: 30%;
                    gap: 20px;
                    @include flex(flex, column, "", "", end);
                    order: 2;

                    .section__subtitles {
                        text-align: right;
                    }

                    p {
                        line-height: 1.5em;
                        text-align: right;
                        font-weight: 300;
                    }

                    a {
                        margin-top: 20px;

                        &:hover {
                            background-color: #ffff00;
                            color: nth($primary-colors, 2);
                        }
                    }


                }

                .gallery__container {
                    width: 70%;
                    gap: 5px;
                    @include flex(flex, "", wrap, "", "");

                    figure {
                        overflow: hidden;
                        width: 260px;
                        margin: 0;

                        img {
                            width: 100%;
                            transition: all .5s;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }


    .servicios {
        background-color: nth($primary-colors, 3);
        z-index: 2;

        .container-tw {
            .servicios__container {
                width: 100%;
                gap: 20px;
                margin: 0 auto;
                @include flex(flex, "", wrap, center, stretch);

                .servicios-card {
                    width: 260px;
                    min-height: 420px;
                    height: auto;
                    background-color: nth($primary-colors, 1);
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    @include flex(flex, column, "", flex-start, "");

                    &:hover {
                        background-color: nth($secundary-colors, 1);
                    }

                    .card-img {
                        img {
                            width: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }

                    .card-text {
                        padding: 20px;
                        height: 100%;
                        position: relative;

                        .section__subtitles {
                            font-size: nth($font-size, 4);
                            letter-spacing: unset;
                            margin-bottom: 20px;
                            border-bottom: 1px dotted nth($primary-colors, 2);
                        }

                        p {
                            font-size: nth($font-size, 3);
                            padding-bottom: 50px;
                            line-height: 1.3em;
                        }

                        a {
                            font-size: nth($font-size, 2);
                            font-weight: 400;
                            margin-bottom: 20px;
                            color: nth($primary-colors, 2);
                            position: absolute;
                            bottom: 0;
                            padding: 5px 12px;
                            border-radius: 5px;
                            border: 1px solid nth($primary-colors, 2);

                            &:hover {
                                color: #ffff00;
                                background-color: nth($primary-colors, 2);
                            }
                        }
                    }
                }
            }
        }
    }


    .tienda {
        background-image: nth($gradients, 1), url(../img/tienda-cover-img01.jpg);
        @include background-set(cover, no-repeat, center);
        z-index: 2;

        .container-tw--flex {
            @include flex(flex, row, nowrap, start, center);
        }
    }


    .bar {
        background-image: nth($gradients, 2), url(../img/bar-cover-img01.jpg);
        @include background-set(cover, no-repeat, top);
        position: sticky;
        top: 100px;
        z-index: 2;


        .container-tw--flex {
            @include flex(flex, row, nowrap, start, center);
        }
    }


    .contacto {
        background-color: nth($primary-colors, 1);
        z-index: 5;

        .container-tw {
            .contacto__container {
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: space-between;
                // align-items: center;
                @include flex(flex, "", wrap, space-between, center);

                .contacto_container-info {
                    width: 350px;
                    // display: flex;
                    // flex-direction: column;
                    gap: 10px;
                    @include flex(flex, column, "", "", "");

                    .logo-font {
                        font-family: 'blank-river';
                        font-size: nth($font-size, 9);
                        font-weight: lighter;
                    }

                    .social-icons {
                        a {
                            i {
                                color: nth($primary-colors, 2);
                                margin-top: 50px;

                                &:hover {
                                    background-color: nth($primary-colors, 3);
                                }
                            }
                        }
                    }
                }

                .form__container {
                    padding: 30px;
                    background-color: nth($secundary-colors, 1);
                    border-radius: 5px;

                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        @include flex(flex, column, "", "", "");

                        div {

                            input[type="text"],
                            input[type="email"] {
                                border: none;
                                height: 35px;
                                border-radius: 5px;
                                width: 100%;
                                margin-top: 5px;
                                font-size: nth($font-size, 4);
                                padding-left: 10px;
                            }
                        }

                        div {
                            h4 {
                                font-weight: 600;
                                font-size: nth($font-size, 3);
                            }

                            select {
                                background-color: nth($secundary-colors, 2);
                                color: nth($primary-colors, 3);
                                border: none;
                                padding: 5px;
                                border-radius: 5px;
                                margin-top: 5px;
                            }
                        }

                        textarea {
                            margin-bottom: 20px;
                            width: 350px;
                            height: 200px;
                            border: none;
                            border-radius: 5px;
                            padding: 10px;
                        }

                        input[type="submit"] {
                            border: none;
                            cursor: pointer;

                            &:hover {
                                background-color: nth($primary-colors, 3);
                                color: nth($primary-colors, 2);
                                outline: 1px solid nth($primary-colors, 2);
                            }
                        }
                    }
                }
            }
        }
    }

}

// /////////////////////////////////////////////////////
// PRODUCTOR //////////////////////////////////////////
// /////////////////////////////////////////////////////

.main__productor {

    .productor__container-tw {
        background-color: nth($primary-colors, 2);
        padding-top: 100px;
        height: auto;

        .container {
            .johny-info {
                .johny-info-text {
                    .social-icons {
                        a {
                            i {
                                color: nth($primary-colors, 2);

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }

                div {
                    .johny-carousel {
                        div {
                            img {
                                height: 600px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .premios {
                    div {
                        div {
                            div {
                                img {
                                    mix-blend-mode: difference;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}



// /////////////////////////////////////////////////////
// ARTISTAS //////////////////////////////////////////
// /////////////////////////////////////////////////////


.main__artistas {
    .artistas {
        .container-tw {
            .artistas__grid {
                margin-top: 100px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: auto;
                gap: 5px;

                .img__box {
                    position: relative;
                
                    
                    &:hover {
                        a {
                            .artista__caption {
                                opacity: .8;
                            }
                        }
                    }

                    a {
            
                        img {
                            width: 100%;
                            display: block;
                    
                        }

                        .artista__caption {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            background-color: #000000;
                            transition: .3s ease;

                            .artista__caption-name {
                                color: white;
                                font-size: nth($font-size, 6);
                                position: absolute;
                                top: 75%;
                                left: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                text-align: center;
                                cursor: pointer;

                                p {
                                    color: nth($secundary-colors, 4);
                                }
                            }
                        }

                    }

                    div {
                        div {
                            h5 {
                                font-size: nth($font-size, 4);
                                color: #ffff00;
                            }

                            p {
                                font-size: nth($font-size, 2);
                            }

                            a {
                                i {
                                    span {
                                        font-family: "Lato", sans-serif;
                                        font-size: nth($font-size, 3);
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}


// /////////////////////////////////////////////////////
// TIENDA //////////////////////////////////////////
// /////////////////////////////////////////////////////


.main__tienda {
    .tienda {
        .container-tw {
            .tienda__grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-auto-rows: auto;
                gap: 5px;
                margin-top: 100px;
                gap: 15px;

                .tienda__card-tw {
                    width: 100%;

                    height: min-content;

                    background-color: nth($secundary-colors, 5);
                    border-radius: 5px;
                    overflow: hidden;
                    @include flex(flex, column, "nowrap", center, stretch);

                    .tienda__card-img {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            transition: all .5s;
                            scale: 1;
                            object-fit: cover;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }

                    .tienda__card-info {
                        padding: 15px 10px;

                        h3 {
                            font-size: nth($font-size, 4);
                            font-weight: 600;
                        }

                        .tienda__precio {
                            font-size: nth($font-size, 4);
                            font-weight: 800;
                        }

                        p {
                            font-size: nth($font-size, 2);
                            font-weight: 300;
                            line-height: 1.3em;
                        }

                        .btn-xs {
                            font-size: nth($font-size, 3);
                            font-weight: 300;
                            letter-spacing: 1px;

                            &:hover {
                                background-color: #ffff00;
                                color: nth($primary-colors, 2);
                            }
                        }
                    }
                }
            }
        }
    }
}


// /////////////////////////////////////////////////////
// BAR //////////////////////////////////////////
// /////////////////////////////////////////////////////

.main__bar {
    .bar {
        .container-tw {
            .bar__grid {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 100px 2fr 1fr;
                gap: 1em;

                grid-template-areas:
                    "title  title   title   title"
                    "info   gallery gallery gallery"
                    "map     map      map     map";

                .main__titles-pages {
                    grid-area: title;
                }

                .bar__container-info {
                    grid-area: info;

                    // display: flex;
                    // flex-direction: column;
                    // justify-content: space-evenly;
                    gap: 20px;
                    background-color: #ffff00;
                    padding: 0 20px;
                    @include flex(flex, column, "", space-evenly, "");

                    .bar__container-text {
                        p {
                            margin-top: 20px;
                        }

                        a {
                            margin-top: 30px;
                            // display: flex;
                            // flex-direction: row-reverse;
                            // align-items: center;
                            // justify-content: space-evenly;
                            gap: 5px;
                            padding: 10px 14px;
                            border-radius: 5px;
                            background-color: #4FCE5D;
                            color: nth($primary-colors, 3);
                            width: fit-content;
                            font-size: nth($font-size, 4);
                            @include flex(flex, row-reverse, "", space-evenly, center);

                            &:hover {
                                background-color: #44b852;
                            }

                            i {
                                font-size: 1.6rem;
                            }
                        }
                    }

                    .bar__container-qr {
                        div {
                            img {
                                width: 100%;
                            }
                        }
                    }


                }

                // gallery
                .bar__container-gallery {
                    grid-area: gallery;

                    .bar__grid-gallery {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                        grid-auto-rows: 200px;
                        gap: 5px;

                        figure {
                            overflow: hidden;
                            margin: 0;

                            .bar__img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all .5s;
                                scale: 1;
                                &:hover {
                                    scale: 1.1;         
                                }
                            }
                        }

                        // spans
                        .bar__gallery__pic-img1 {
                            grid-column: span 2;
                        }

                        .bar__gallery__pic-img2 {
                            grid-row: span 2;
                        }

                        .bar__gallery__pic-img4 {
                            grid-row: span 2;
                        }

                        .bar__gallery__pic-img8 {
                            grid-column: span 2;
                        }

                    }
                }

                .bar__container-qr--grid {
                    display: none;
                    grid-area: qr;
                }

                .bar__container-map {
                    grid-area: map;

                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    @include flex(flex, "", "", space-between, center);

                    .secundary__titles-pages {
                        span {
                            font-family: $brand-font;
                            display: inline-block;
                            font-size: nth($font-size, 12);
                            margin-top: 40px;
                            margin-left: 10px;
                            font-weight: 100;
                            rotate: -3deg;

                            &::selection {
                                background-color: #ffff00;
                            }
                        }
                    }

                    div {
                        box-shadow: $box-shadow;

                        iframe {
                            width: 760px;
                            height: 350px;
                        }
                    }
                }
            }
        }
    }
}