// INDEX //////////////////////////////////////////

.main__home {
    .nosotros {
        width: 100%;
        padding: 0 50px 100px 50px;
        margin: 0 auto;
        height: 480px;
        position: sticky;
        top: 100px;
        left: 0;
        z-index: 0;
        background-color: #fff;

        .container-tw {
            padding: 0;

            .section__titles {
                margin-bottom: 60px;
            }

            .nosotros__container {
                display: flex;
                justify-content: center;
                align-items: baseline;

                p {
                    width: 600px;
                    min-width: 350px;
                    font-size: 1.2rem;
                }
            }
        }
    }


    .loNuevo {
        background-color: #000;
        color: #fff;
        z-index: 2;

        .container-tw {
            .loNuevo__container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text__container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-right: 10px;

                    p {
                        line-height: 1.3rem;
                        font-weight: 400;
                    }
                }

                .videos__container {
                    width: 70%;
                    padding: 20px;
                    background-color: rgb(14, 14, 14);
                    margin: 20px;

                    .loNuevo-video {
                        width: 100%;
                        height: 412px;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }


    .artistas {
        background-color: #fff;
        z-index: 2;

        .container-tw {
            .artistas__container {
                width: 100%;
                display: flex;
                gap: 40px;
                justify-content: space-between;
                align-items: center;

                .text__container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    order: 2;
                    align-items: end;

                    .section__subtitles {
                        text-align: right;
                    }

                    p {
                        line-height: 1.3rem;
                        text-align: right;
                        font-weight: 400;
                    }

                    a {
                        margin-top: 20px;

                        &:hover {
                            background-color: yellow;
                            color: #000;
                        }
                    }


                }

                .gallery__container {
                    width: 70%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    figure {
                        overflow: hidden;
                        width: 260px;
                        margin: 0;

                        img {
                            width: 100%;
                            transition: all .5s;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }


    .servicios {
        background-color: #fff;
        z-index: 2;

        .container-tw {
            .servicios__container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                align-items: stretch;
                margin: 0 auto;

                .servicios-card {
                    width: 260px;
                    min-height: 420px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    background-color: yellow;
                    border-radius: 5px;

                    &:hover {
                        background-color: rgb(255, 247, 0);
                    }

                    .card-img {
                        img {
                            width: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }

                    .card-text {
                        padding: 20px;
                        height: 100%;
                        position: relative;

                        .section__subtitles {
                            font-size: 1rem;
                            letter-spacing: unset;
                            margin-bottom: 20px;
                            border-bottom: 1px solid #000;
                        }

                        p {
                            font-size: .9rem;
                            padding-bottom: 50px;
                        }

                        a {
                            font-size: .8rem;
                            font-weight: 400;
                            margin-bottom: 20px;
                            color: #000;
                            position: absolute;
                            bottom: 0;
                            padding: 5px 12px;
                            border-radius: 5px;
                            border: 1px solid #000;

                            &:hover {
                                color: yellow;
                                background-color: #000;
                            }
                        }
                    }
                }
            }
        }
    }


    .tienda {
        background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(../img/tienda-cover-img01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;

        .container-tw {
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }


    .bar {
        background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(../img/bar-cover-img01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: sticky;
        top: 100px;
        z-index: 2;

        .container-tw {
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }


    .contacto {
        background-color: yellow;
        z-index: 5;

        .container-tw {
            .contacto__container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .contacto_container-info {
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .logo-font {
                        font-family: 'blank-river';
                        font-size: 2.5rem;
                        font-weight: lighter;
                    }

                    .social-icons {
                        a {
                            i {
                                color: #000;
                                margin-top: 50px;

                                &:hover {
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }

                .form__container {
                    padding: 30px;
                    background-color: rgb(230, 230, 0);
                    border-radius: 5px;

                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        div {

                            input[type="text"],
                            input[type="email"] {
                                border: none;
                                height: 35px;
                                border-radius: 5px;
                                width: 100%;
                                margin-top: 5px;
                                font-size: 1rem;
                                padding-left: 10px;
                            }
                        }

                        div {
                            h4 {
                                font-weight: 600;
                                font-size: .9rem;
                            }

                            select {
                                background-color: rgba(0, 0, 0, 0.569);
                                color: #fff;
                                border: none;
                                padding: 5px;
                                border-radius: 5px;
                                margin-top: 5px;
                            }
                        }

                        textarea {
                            margin-bottom: 20px;
                            width: 350px;
                            border: none;
                            border-radius: 5px;
                            padding: 10px;
                        }

                        input[type="submit"] {
                            border: none;
                            cursor: pointer;

                            &:hover {
                                background-color: #fff;
                                color: #000;
                                outline: 1px solid #000;
                            }
                        }
                    }
                }
            }
        }
    }

}

// /////////////////////////////////////////////////////
// PRODUCTOR //////////////////////////////////////////
// /////////////////////////////////////////////////////

.main__productor {

    .productor__container-tw {
        background-color: #000;
        padding-top: 100px;
        height: auto;

        .container {
            .johny-info {
                .johny-info-text {
                    .social-icons {
                        a {
                            i {
                                color: #000;

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }

                div {
                    .johny-carousel {
                        div {
                            img {
                                height: 600px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .premios {
                    div {
                        div {
                            div {
                                img {
                                    mix-blend-mode: difference;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}



// /////////////////////////////////////////////////////
// ARTISTAS //////////////////////////////////////////
// /////////////////////////////////////////////////////


.main__artistas {
    .artistas {
        .container-tw {
            .artistas__grid {
                margin-top: 100px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: auto;
                gap: 5px;

                .img__box {
                    position: relative;

                    &:hover {
                        a {
                            .artista__caption {
                                opacity: .8;
                            }
                        }
                    }

                    a {
                        img {
                            width: 100%;
                            display: block;
                        }

                        .artista__caption {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            transition: .3s ease;
                            background-color: #000000;

                            .artista__caption-name {
                                color: white;
                                font-size: 1.3rem;
                                position: absolute;
                                top: 55%;
                                left: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                text-align: center;
                                cursor: pointer;

                                p {
                                    color: rgba(255, 255, 255, 0.428);
                                }
                            }
                        }

                    }

                    div {
                        div {
                            h5 {
                                font-size: 1.1rem;
                                color: yellow;
                            }

                            p {
                                font-size: .8rem;
                            }

                            a {
                                i {
                                    span {
                                        font-family: "Lato", sans-serif;
                                        font-size: .9rem;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}


// /////////////////////////////////////////////////////
// TIENDA //////////////////////////////////////////
// /////////////////////////////////////////////////////


.main__tienda {
    .tienda {
        .container-tw {
            .tienda__grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-auto-rows: auto;
                gap: 5px;
                margin-top: 100px;
                gap: 15px;

                .tienda__card-tw {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #e0e0e0;
                    border-radius: 5px;
                    overflow: hidden;
                    justify-items: center;
                    align-items: center;

                    .tienda__card-img {
                        overflow: hidden;
                        width: 100%;

                        img {
                            width: 100%;
                            transition: all .5s;
                            scale: 1;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }

                    .tienda__card-info {
                        padding: 15px 10px;

                        h3 {
                            font-size: 1.1rem;
                            font-weight: 600;
                        }

                        .tienda__precio {
                            font-size: 1rem;
                            font-weight: 800;
                        }

                        p {
                            font-size: .8rem;
                            font-weight: 300;
                            line-height: 1.1rem;
                        }

                        .btn-xs {
                            font-size: .9rem;
                            font-weight: 300;
                            letter-spacing: 1px;

                            &:hover {
                                background-color: yellow;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}


// /////////////////////////////////////////////////////
// BAR //////////////////////////////////////////
// /////////////////////////////////////////////////////


.main__bar {
    .bar {
        .container-tw {
            .bar__grid {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 100px 2fr 1fr;
                gap: 1em;
                grid-template-areas:
                    "title  title   title   title"
                    "info   gallery gallery gallery"
                    "map     map      map     map";

                .main__titles-pages {
                    grid-area: title;
                }

                .bar__container-info {
                    grid-area: info;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 20px;
                    background-color: yellow;
                    padding: 0 20px;

                    .bar__container-text {
                        p {
                            margin-top: 20px;
                        }

                        a {
                            margin-top: 30px;
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 5px;
                            padding: 10px 14px;
                            border-radius: 5px;
                            background-color: #4FCE5D;
                            color: #fff;
                            width: fit-content;
                            font-size: 1rem;

                            &:hover {
                                background-color: #44b852;

                                i {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                    .bar__container-qr{
                        div {
                            margin-top: 20px;
                            img {
                                width: 100%;
                            }
                        }
                    }

                }

                .bar__container-gallery {
                    grid-area: gallery;
                }

                .bar__container-qr--grid {
                    display: none;
                    grid-area: qr;
                }

                .bar__container-map {
                    grid-area: map;
                }


            }

        }
    }
}