@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

/* LOGO FONT */
@font-face {
    font-family: "blank-river";
    src: url("../assets/logo-font/blank-river.ttf")format('truetype'),
        url("../assets/logo-font/blank-river.woff")format('woff'),
        url("../assets/logo-font/blank-river.woff2")format('woff2');
}

/* ------RESET STYLE------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    body {
        font-family: 'Lato', 'blank-river', sans-serif;

        a {
            text-decoration: none;
        }
    }
}



/* contenedor general */
.container-tw {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 80px 0;
    overflow: hidden;
    min-height: calc(100vh - 100px);
}

/* titulos y subtitulos principales en index */
.section__titles {
    font-size: nth($font-size, 6);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0 80px 0;
    text-align: left;
    font-family: 'Lato';
    font-weight: 600;
}

.section__subtitles {
    font-size: nth($font-size, 5);
    letter-spacing: .8px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

/* titulos en tienda y bar del index */
.section__titles-b {
    font-size: nth($font-size, 11);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

/* botones */

.btn-l {
    width: fit-content;
    min-width: 150px;
    padding: 16px 22px;
    background-color:nth($primary-colors, 1);
    color:nth($primary-colors, 2);
    font-size: nth($font-size, 5);
    margin: 10px 0;
    @extend %buttons;
    
    &:hover {
        background-color: nth($primary-colors, 2);
        color: nth($primary-colors, 3);
    }
}

.btn-m {
    width: fit-content;
    min-width: 150px;
    padding: 12px 18px;
    background-color: nth($primary-colors, 2);
    color: nth($primary-colors, 3);
    font-size: nth($font-size, 5);
    @extend %buttons;
}

.btn-s {
    width: 90px;
    padding: 10px 16px;
    border: 1px solid #fff;
    margin: 10px;
    color:nth($primary-colors, 3);
    @extend %buttons;
}


.btn-xs {
    width: fit-content;
    min-width: 100px;
    padding: 8px 14px;
    background-color:nth($primary-colors, 2);
    color: nth($primary-colors, 3);
    font-size: nth($font-size, 2);
    @extend %buttons;
}

.social-icons {
    display: inline-block;

    a {
        margin: 5px;
    }

    i {
        border-radius: 100%;
        padding: 5px;
        font-size: nth($font-size, 8);
        transition: $transition-hover;
    }
}

main {

    .loNuevo,
    .artistas,
    .servicios,
    .tienda,
    .bar,
    .contacto {
        min-height: 100vh;
        height: auto;
        position: relative;
        padding: 0 50px 0 50px;
    }
}

/* recuadros con informacion en secciones Tienda y Bar del index */
.main__home {
    .info-box {
        width: 420px;
        min-width: 350px;
        @include flex(flex, column, "", "", "");
        gap: 10px;
        background-color: nth($secundary-colors, 5);
        padding: 40px;
        border-radius: 5px;
        

        h3 {
            font-size: nth($font-size, 4);
            font-weight: 600;
        }

        p {
            font-size: nth($font-size, 4);
        }
    }
}

/* clases BOOTSTRAP pisadas */
nav {
    div {
        .navbar-brand {
            font-family: 'blank-river', sans-serif;
        }

        .navbar-toggler {
            box-shadow: none;
            border: none;

            &:hover {
                background-color: nth($primary-colors, 1);

                &:focus {
                    box-shadow: none;
                }
            }
        }

        div {
            ul {
                li {
                    .nav-link {
                        font-size: nth($font-size, 3);
                    }

                    .btn {
                        margin-left: 10px;
                        font-size: nth($font-size, 2);

                        &:hover {
                            background-color: nth($primary-colors, 1);
                            color: nth($primary-colors, 2);
                            border: 1px solid #ffff00;

                            &:focus {
                                box-shadow: none;
                                background-color:nth($primary-colors, 2);
                                border: 1px solid #000;
                                color:nth($primary-colors, 3);
                            }
                        }
                    }
                }
            }
        }
    }
}


/* -------------- ESTILOS GENERALES EN LAS PAGES -------------- */

/* titulos principales en las pages */
.main__titles-pages {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: nth($font-size, 5);
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    
    span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: nth($primary-colors, 1);
        padding: 5px;
    }
}

/* titulos secundarios en las pages */
.secundary__titles-pages {
    font-size: nth($font-size, 6);
}

.terciary__titles-pages {
    font-weight: 400;
    font-size: nth($font-size, 2);
    color:nth($secundary-colors, 3);
    text-transform: uppercase;
}