@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

/* LOGO FONT */
@font-face {
    font-family: "blank-river";
    src: url("../assets/logo-font/blank-river.ttf")format('truetype'),
        url("../assets/logo-font/blank-river.woff")format('woff'),
        url("../assets/logo-font/blank-river.woff2")format('woff2');
}

/* ------RESET STYLE------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    body {
        font-family: 'Lato', 'blank-river', sans-serif;

        a {
            text-decoration: none;
        }
    }
}



/* contenedor general */
.container-tw {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 80px 0;
    overflow: hidden;
    min-height: calc(100vh - 100px);
}

/* titulos y subtitulos principales en index */
.section__titles {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0 80px 0;
    text-align: left;
    font-family: 'Lato';
    font-weight: 600;
}

.section__subtitles {
    font-size: 1.2rem;
    letter-spacing: .8px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

/* titulos en tienda y bar del index */
.section__titles-b {
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

/* botones */

.btn-l {
    display: block;
    width: fit-content;
    min-width: 150px;
    padding: 16px 22px;
    background-color: #ffff00;
    color: #000;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px 0;

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

.btn-m {
    display: block;
    width: fit-content;
    min-width: 150px;
    padding: 12px 18px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
}

.btn-xs {
    display: block;
    width: fit-content;
    min-width: 100px;
    padding: 8px 14px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: .8rem;
}

.social-icons {
    display: inline-block;

    a {
        margin: 5px;
    }

    i {
        border-radius: 100%;
        padding: 5px;
        font-size: 30px;
    }
}

main {

    .loNuevo,
    .artistas,
    .servicios,
    .tienda,
    .bar,
    .contacto {
        min-height: 100vh;
        position: relative;
        padding: 0 50px 0 50px;
    }
}

/* recuadros con informacion en secciones Tienda y Bar del index */
.main__home {
    .info-box {
        width: 420px;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 40px;
        border-radius: 5px;

        h3 {
            font-size: 1rem;
            font-weight: 600;
        }

        p {
            font-size: 1rem;
        }
    }
}

/* clases BOOTSTRAP pisadas */
nav {
    div {
        .navbar-brand {
            font-family: 'blank-river', sans-serif;
        }

        .navbar-toggler {
            box-shadow: none;
            border: none;

            &:hover {
                background-color: #ffff00;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        div {
            ul {
                li {
                    .nav-link {
                        font-size: .9rem;
                    }

                    .btn {
                        margin-left: 10px;
                        font-size: .8rem;

                        &:hover {
                            background-color: #ffff00;
                            color: #000;
                            border: 1px solid #ffff00;

                            &:focus {
                                box-shadow: none;
                                background-color: #000;
                                border: 1px solid #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* -------------- ESTILOS GENERALES EN LAS PAGES -------------- */

/* titulos principales en las pages */
.main__titles-pages {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    

    span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #ffff00;
        padding: 5px;
    }
}

/* titulos secundarios en las pages */
.secundary__titles-pages {
    font-size: 1.5rem;
}

.terciary__titles-pages {
    font-weight: 400;
    font-size: .8rem;
    color: #363636;
    text-transform: uppercase;
}