// VARIABLES ///////////////////////////////////////////////
$border-radius:5px;
$primary-font: 'Lato';
$brand-font: 'blank-river';
// LISTAS ///////////////////////////////////////////////

// COLORES //
$primary-colors:
#ffff00, 
#000000,
#fff;

$secundary-colors:
/* hover en cards servicios */
#fcdf03,
#0e0e0e,
#363636,
#747474,
#e0e0e0,
red;
$gradients:
linear-gradient(to top, black, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
linear-gradient(to bottom, black, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

// FUENTES //
$font-size:
.7rem,
.8rem,
.9rem,
1rem,
1.2rem,
1.5rem,
1.8rem,
2rem,
2.5rem,
3rem,
3.5rem,
5rem,
8rem;

// TRANSITIONS //



// EXTENDS ///////////////////////////////////////////////
%buttons{
    display: inline-block;
    text-align: center;
    border-radius:$border-radius;
}


// MIXINS ///////////////////////////////////////////////

@mixin background-set($bg-size, $bg-repeat, $bg-position){
    background-size:$bg-size;
    background-repeat:$bg-repeat;
    background-position:$bg-position;
}

@mixin flex($flex, $direction, $wrap, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content:$justify;
    align-items:$align;
}